@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$ms-primaryText:                "[theme:primaryText, default:#0078d7]";


.profile {

  .container {
    max-width: 700px;
    margin: 0px auto;
    padding: 0.5vw ;
    color: $ms-primaryText;
  }

  .grid{
    @include ms-Grid;
    padding : 0;
  }
  .row {
    @include ms-Grid-row;
    width: 100%;
    padding: 2%;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 2px 2px 2px 0 $ms-color-themePrimary, 0 2px 5px 0  $ms-color-themePrimary; 
    border-radius: 0.5vw;
    white-space: pre-line;   
  }

  .box1{
    @include ms-Grid-col;
    @include ms-lg9;
  }

  .box2{
    @include ms-Grid-col;
    @include ms-lg3;
    float:right;

    .icon{
      float:right;
      font-size: $ms-font-size-xxl;
    }
  }

  .smallBox{
    .icon{
      margin: 0 5px 0 0;
      float:left;
      font-size: $ms-font-size-xl;
    }
    .companyPosition{
      vertical-align: baseline;
    }
    .name{
      //color: rgb(51, 51, 51);
      color: $ms-primaryText;

      font-weight: 400;
      font-size: $ms-font-size-xl;
    }
  }

}
