@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.profile {

  .container {
    max-width: 700px;
    margin: 0px auto;
    padding: 0.5vw ;
  }

  .grid{
    @include ms-Grid;
    padding : 0;
  }
  .row {
    @include ms-Grid-row;
    width: 55vw;
    padding: 1vw;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 2px 2px 2px 0 $ms-color-themePrimary, 0 2px 5px 0  $ms-color-themePrimary; 
    border-radius: 0.5vw;
    white-space: pre-line;   
  }

  .box1{
    @include ms-Grid-col;
    @include ms-md12;
    @include ms-lg9;
  }

  .box2{
    @include ms-Grid-col;
    @include ms-md12;
    @include ms-lg3;
  }


//small
@media screen and (max-width: 479px) {
  .box1 {
    display: none;

  }
  .box2{
    display: none;
  }

  .icon{
    float: left;
    font-size: $ms-font-size-l;

  }
 
}

//medium
@media screen and (min-width: 480px) and (max-width: 639px) {
  .smallBox1{
    display: none;
  }
  .smallBox2{
    display: none;
  }
  .icon{
    background-color: yellow; 
    float:right;
  }
}

//large and up
@media screen and (min-width: 640px) {
  .smallBox1{
    display: none;
  }
  .smallBox2{
    display: none;
  }
  .icon{
    float:right;
    font-size: $ms-font-size-xxl;

  }
}
}
